<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlaGo Recife</title>
</head>
<body>
    <h1>Envie uma contribuição</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpeg, .jpg">
        <!-- Adicione mais campos de entrada conforme necessário -->
        <button type="submit">Predict</button>
    </form>
    
    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
</body>
</html>